
.mrblog-card-container {
    padding: 10px;
}

.mrblog-card {
    background-color: var(--bg-light-gray);
    padding: 16px 41px 7px 40px;
    margin-bottom: 33px;
    border-radius: 8px;
}

.mrblog-card h2 {
    margin-bottom: 10px;
    color: var(--text-green-water);
    font-size: 1.4rem;
    font-weight: 700;
}

.mrblog-subtitle {
    font-size: 1rem;
    font-weight: 700;
}


.mrblog-line {
    border-bottom: 1px solid var(--bg-green-water);
    font-size: 1rem;
    margin: 0px;
}

.mrblog-date {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--text-gray);
}

.mrblog-card-description p {
    margin-bottom: 7px;
    color: var(--text-gray);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.mrblog-card-description a {
    color: var(--text-light-pink);
      text-decoration: none; 
}
