
.mrblog-user-image {
    width: 60%;
}

.mrblog-btn {
    background-color: var(--bg-green-water);
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: green;
}

.mrblog-btn:hover {
    background-color: #51a38d;
}