header {
    background-color: var(--bg-green-water);
    width: 100%;
    margin: 0 auto;
    
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 14px;
}

.nav-brand {
    font-size: 2rem;
    font-weight: 700;
    line-height: 36px;
    color: var(--text-white);
    /*  maiusculo  text-transform: uppercase; */
    text-decoration: none;
}

.menu-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    color: var(--text-white);
    font-size: 1.5rem; 
}